@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body{
    background-color: rgb(188, 202, 205);
}

h1{
    color: rgb(6, 6, 54);
    font-size: 60px;
    font-family:'Playfair Display', serif;
    }
.name-header{
    text-align: center;
    margin: auto;
    padding: 60px;
    width: 50%;
    animation: fadeIn 6s;
}

p{
    color:rgb(6, 6, 54);
    font-family:'Playfair Display', serif;
    font-size: 18px;
}


.sidebar {
    height:100%; /*  full height*/
    width:160px; /* set the width of the side bar */
    position:fixed; /* fixed sidebar*/
    z-index: 1; /*stays on top */
    top: 200px;  /* stay on top */
    left: 250px;
    overflow-x: hidden; /* disable horizonal scroll*/
    padding-top: 40px;
    font-family:'Playfair Display', serif;
    font-size: 18px;

}

a{
    color:rgb(6, 6, 54);
    font-family:'Playfair Display', serif;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    display: block;

}

a:hover{
    color:rgb(240, 60, 90);
    text-decoration:none;
    padding: 6px 8px 6px 16px;
    display: block; 
}


.content{
    height:100%; /*  full height*/
    width:160px; /* set the width of the side bar */
    position:fixed; /* fixed sidebar*/
    z-index: 1; /*stays on top */
    top: 250px;  /* stay on top */
    left: 400px;
    overflow-x: hidden; /* disable horizonal scroll*/
    padding-top: 60px;
    font-family:'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
    margin: auto;
    width: 50%;
    display: block;
}